@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Light-gray);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 700px;
  padding: 25px;
  padding-bottom: 105px;
  background-color: var(--White);
  text-align: justify;
  position: relative;
  border-radius: 25px;
}

.qrcode img {
  width: 400px; 
  border-radius: 20px;
}

.titulo h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 34px;
  position: relative;
}

.paragrafo p {
  text-align: center;
  font-size: 15px;
  position: relative;
  padding: 0 23px 0 23px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 100%;
  background-color: var(--Light-gray);
}




@media screen and (min-width: 40rem) {
  header nav{
      display: block;
      text-align: center;
  }

  .cards{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  .card:nth-child(2n){
      margin-top: 1rem;
  }
}

@media screen and (min-width: 48rem){
  header div{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  header img,
  header nav,
  header .button {
      margin: 0;
  }
}

@media screen and (min-width: 72rem){
  h1, h2 {
      font-size: 4rem;
  }
  .container{
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: 72rem;
  }

  .container.row-reverse{
      flex-direction: row-reverse;
  }

  .about-column{
      flex: 2;
  }

  .about-column p{
     font-size: 1.25rem;
     max-width: 16rem;     
  }

  footer nav {
      flex: 1;
  }

  .newsletter-form {
      flex: 3;
  }
}

@media screen and (min-width: 90rem){
  .container{
      max-width: 90rem;
  }
}